<div class="modal-header">
    <h4 class="modal-title">Enter OTP </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('close clicked')"></button>
  </div>
  <div class="modal-body" [busyIf]="loading">
    <div class="row text-center">
        <countdown class="text-center" #cd [config]="countdownConfig" (event)="handleCountDownEvent($event)"></countdown>
    </div>
    <ng-otp-input class="text-center" #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="{length:appConsts.otpLength,allowNumbersOnly:true}"></ng-otp-input>
    <form class="form-horizontal" name="validateOtpForm" [formGroup]="validateOtpForm" autocomplete="off" (ngSubmit)="onSubmit()">
      <fieldset>
        <br />
        <div class="form-group row text-end">
          <button [buttonBusy]="loading" [disabled]="otp.length !== appConsts.otpLength" name="submit" type="submit" class="btn btn-primary">Validate</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>